.two-column-layout {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
  }
  
  .left-column {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
  
  }
  
  .left-column img {
    width: 60%;
    height: auto;
  }
  
  .right-column {
    flex: 1;
    align-self: center;
    padding: 20px;
  }
  

@media (max-width: 720px) {
    .two-column-layout {
      display: block;
    }
  }